$icon-grey: #939598;
$white: #ffffff;
$title-color: #2f2f2f;
$dark-grey: #333333;
$th-font-size: 0.9rem;
$ul-red: #C02032;
$link: #3188BC;
$ul-type-red: rgb(177,8,31);
$button-hover-red: rgb(158, 8, 28);
$background: #eaeaea;
$ul-header-red: #981928;
$success: #92C84A;
$success-hover: #78b726;
$sidebar: #1c1c1c;
$ul-blue: #67b1e2;
$ul-blue-medium: #00518a;
$ul-gray: #939598;


$page-title-font: "Raleway", sans-serif;
$page-title-size: 2em;
  