<h4 class="title">Sample Disposition</h4>
<div class="grid-x grid-padding-x grid-margin-x overview">
  <div class="cell medium-3 received">
    <p>Total Received</p>
    <h3>226</h3>
  </div>
  <div class="cell medium-3 testing">
    <p>In Testing</p>
    <h3>94</h3>
  </div>
  <div class="cell medium-3 hold">
    <p>On Hold</p>
    <h3>21</h3>
  </div>
  <div class="cell medium-3 completed">
    <p>Completed</p>
    <h3>111</h3>
  </div>
  <div class="cell medium-9 lab-table">
    <table>
      <thead>
        <tr>
          <td>Location</td>
          <td>Received</td>
          <td>In Testing</td>
          <td>On Hold</td>
          <td>Cancelled</td>
          <td>Completed</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bangladesh Softlines</td>
          <td>32</td>
          <td>14</td>
          <td>2</td>
          <td>2</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Bentonville Softlines</td>
          <td>32</td>
          <td>14</td>
          <td>2</td>
          <td>2</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Hong Kong Hardlines</td>
          <td>32</td>
          <td>14</td>
          <td>2</td>
          <td>2</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Hong Kong Softlines</td>
          <td>32</td>
          <td>14</td>
          <td>2</td>
          <td>2</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Rogers Hardlines</td>
          <td>32</td>
          <td>14</td>
          <td>2</td>
          <td>2</td>
          <td>28</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cell medium-3 destination">
    <h5>Destination Lab</h5>
    <p class="color-bv">Color Bentonville</p>
    <h4 class="color-bv">32</h4>
    <p class="color-hk">Color Hong Kong</p>
    <h4 class="color-hk">14</h4>
  </div>
</div>
