<ul class="vertical tabs" data-tabs id="nav_tabs"> 
  <!-- <li class="tabs-title is-active">
    <a href="#" id="sidebar-toggle">
      <img height="32px" src="../../images/icon-gear.svg" alt="toggle sidebar">
      <span class="show-for-large">Toggle</span>
    </a> -->
    <!-- <a href="#" id="home">
      <img width="32px" src="../../images/icon-home.svg">
      <span class="show-for-large">Home</span>
    </a> -->
  <!-- </li> -->
  <li class="tabs-title">
    <!-- <a href="#" id="search"> -->
      <img id="search" class="float-center" height="32px" src="../../images/icon-search.svg" alt="search for applications" title="Search for applications">
      <!-- <span class="show-for-large">Search</span> -->
    <!-- </a> -->
  </li>
  <li class="tabs-title">
    <!-- <a href="#" id="app-detail"> -->
      <img id="app-detail" class="float-center" height="32px" src="../../images/icon-appdetail.svg" alt="app detail page" title="Application Details">
      <!-- <span class="show-for-large">App Detail</span> -->
    <!-- </a> -->
  </li>
</ul>

