<div class="grid-x grid-container grid-padding-x grid-padding-y">
  <div class="cell medium-6 ">
    <p>UL and the UL logo are trademarks of UL LLC &copy; <span id="daYear"></span> All Rights Reserved.</p>
  </div>
  <div class="cell medium-6 text-right">
    <p class="text-right">
      <a href="https://www.ul.com/customer-resources/online-policies/terms-of-use" target="_blank">Terms and Conditions</a> |
      <a href="https://www.ul.com/customer-resources/online-policies/privacy-notice" target="_blank">Privacy Policy</a>
    </p>
  </div>
</div>
